@import "tailwindcss";

@theme {
  /* color brand => dark-mode */
  --color-bg-dark: oklch(15.3% 0.006 107.1);
  --color-text-dark: oklch(73.7% 0.021 106.9);
  --color-terminal-header: oklch(22.8% 0.013 107.4);
  --color-text-faint: oklch(98.8% 0.003 106.5);
  --color-text: oklch(58% 0.031 107.3);
  --color-border: oklch(28.6% 0.016 107.8);
  --color-placeholder: oklch(88% 0.011 106.5);
  --color-btn-border: oklch(46.6% 0.025 107.3);
  --color-btn-text: oklch(73.7% 0.021 106.9);
  --color-image-dark:;

  /* color brand => light-mode */
  --color-bg-light: oklch(98.8% 0.003 106.5);
  --color-text-light: oklch(15.3% 0.006 107.1);
  --color-image-light:;

  --color-btn-download: oklch(42.4% 0.199 265.638);
  --color-btn-text: oklch(97% 0.014 254.604);
  /* text brand */
  --font-sans: "Host Grotesk", sans-serif;

  /* text app size */
  --font-header-sm: 2.11rem;
  --font-text-sm: 1.1rem;
  --font-role-sm: 1.6rem;
  --font-description-sm: 1.32rem;
  --font-experience: 1.05rem;
  --font-small: 0.8rem;
  --font-btn: 0.5rem;

  /* status badge */
  --color-completed-bg: oklch(84.1% 0.238 128.85);
  --color-completed-text: oklch(98.6% 0.031 120.757);
  /* --color-completed-border: #6ee7b7; */
  --color-pending-bg: #92400e;
  --color-pending-text: #fffbeb;
  --color-pending-border: #fcd34d;

  /* terminal header */
  --color-terminal-lime: oklch(64.8% 0.2 131.684);
  --color-terminal-amber: oklch(66.6% 0.179 58.318);
  --color-terminal-emerald: oklch(58.6% 0.253 17.585);
}

@layer base {
  body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
    font-family: var(--font-sans);
  }

  h1 {
    font-size: var(--font-header-sm);
    font-weight: 700;
  }

  h2 {
    font-size: var(--font-experience);
    font-weight: 550;
  }

  h3 {
    font-size: var(--font-description-sm);
  }

  p {
    font-size: var(--font-text-sm);
  }

  small {
    font-size: var(--font-small);
    color: var(--color-completed-text);
    background-color: var(--color-completed-bg);
  }

  /* we do not want the scrollbar to appear on all browser */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: oklch(30% 0.006 107.1) transparent;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: oklch(30% 0.006 107.1);
    border-radius: 999px;
  }

  .page-transition {
    animation: fadeIn 1s ease forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer components {
  .spinnerFull {
    color: var(--color-text-dark);
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }

  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow:
        0 -3em 0 0.2em,
        2em -2em 0 0em,
        3em 0 0 -1em,
        2em 2em 0 -1em,
        0 3em 0 -1em,
        -2em 2em 0 -1em,
        -3em 0 0 -1em,
        -2em -2em 0 0;
    }
    12.5% {
      box-shadow:
        0 -3em 0 0,
        2em -2em 0 0.2em,
        3em 0 0 0,
        2em 2em 0 -1em,
        0 3em 0 -1em,
        -2em 2em 0 -1em,
        -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    25% {
      box-shadow:
        0 -3em 0 -0.5em,
        2em -2em 0 0,
        3em 0 0 0.2em,
        2em 2em 0 0,
        0 3em 0 -1em,
        -2em 2em 0 -1em,
        -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow:
        0 -3em 0 -1em,
        2em -2em 0 -1em,
        3em 0em 0 0,
        2em 2em 0 0.2em,
        0 3em 0 0em,
        -2em 2em 0 -1em,
        -3em 0em 0 -1em,
        -2em -2em 0 -1em;
    }
    50% {
      box-shadow:
        0 -3em 0 -1em,
        2em -2em 0 -1em,
        3em 0 0 -1em,
        2em 2em 0 0em,
        0 3em 0 0.2em,
        -2em 2em 0 0,
        -3em 0em 0 -1em,
        -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow:
        0 -3em 0 -1em,
        2em -2em 0 -1em,
        3em 0 0 -1em,
        2em 2em 0 -1em,
        0 3em 0 0,
        -2em 2em 0 0.2em,
        -3em 0 0 0,
        -2em -2em 0 -1em;
    }
    75% {
      box-shadow:
        0em -3em 0 -1em,
        2em -2em 0 -1em,
        3em 0em 0 -1em,
        2em 2em 0 -1em,
        0 3em 0 -1em,
        -2em 2em 0 0,
        -3em 0em 0 0.2em,
        -2em -2em 0 0;
    }
    87.5% {
      box-shadow:
        0em -3em 0 0,
        2em -2em 0 -1em,
        3em 0 0 -1em,
        2em 2em 0 -1em,
        0 3em 0 -1em,
        -2em 2em 0 0,
        -3em 0em 0 0,
        -2em -2em 0 0.2em;
    }
  }
}
